<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900">
       
        <form action="/register" method="post" class="p-10 text-white">
             <h1 class="text-white text-2xl mb-3">Create Account</h1>
            <input class="bg-zinc-700 rounded-md px-1 py-2  " type="text" placeholder="enter Username" name="username">
            <input class="bg-zinc-700 rounded-md px-1 py-2" type="text" placeholder="enter Name" name="name">
            <input class="bg-zinc-700 rounded-md px-1 py-2 " type="text" placeholder="enter Age" name="age">
            <input class="bg-zinc-700 rounded-md px-1 py-2 " type="text" placeholder="enter Email" name="email">
            <input class="bg-zinc-700 rounded-md px-1 py-2 " type="text" placeholder="enter Password" name="password">
            <input class="bg-blue-500 rounded-md px-3 py-2 " type="submit" value="Create">
        </form>
    </div>
</body>
</html>